<ion-header>
  <ion-navbar>
    <ion-title><span
        *ngIf="activeFactory && activeFactory.lineList && activeFactory.lineList.length > 0 && lineListActive">Active
        Lines</span><span
        *ngIf="activeFactory && activeFactory.lineList && activeFactory.lineList.length > 0 && !lineListActive">{{selectedLine?.lineName}}</span><span
        class="money-main">${{mainObject?.totalValue | number}}</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ct-main">
  <div class="line-list"
    *ngIf="activeFactory && activeFactory.lineList && activeFactory.lineList.length > 0 && lineListActive">
    <ul>
      <li *ngFor="let line of activeFactory.lineList; let i=index" (click)="lineSelected(i)"> Line {{i+1}} </li>
    </ul>
  </div>
  <div *ngIf="lineListActive">
    <button class="add-button">
      <ion-icon name="add-circle"></ion-icon> Add Line
    </button>
  </div>
  <div class="line-main-container" *ngIf="!lineListActive">
    <div class="list-keep">
      <h4 *ngIf="selectedLine && selectedLine.equipmentLineList && selectedLine.equipmentLineList.length > 0">Equipment
        List</h4>
      <h4 *ngIf="!(selectedLine && selectedLine.equipmentLineList && selectedLine.equipmentLineList.length > 0)">
        <span>No equipment to show</span></h4>
      <div *ngIf="selectedLine && selectedLine.equipmentLineList && selectedLine.equipmentLineList.length > 0"
        class="equipment-box">
        <div *ngFor="let equipment of selectedLine?.equipmentLineList">
          <div *ngIf="equipment.count > 0">
            <label>{{equipment.selectedEquipment.name | titlecase}} : <span>{{equipment.count}}</span></label>
            <p>Active : {{equipment.active}}</p>
          </div>
        </div>
      </div>
      <button class="metal linear" (click)="buyEquipmentPopup();">Open Equipment</button>
    </div>
    <div class="list-keep">
      <div class="equipment-box">
        <div>
          <div>
            <label> : <span> l </span></label>
          </div>
        </div>
      </div>
      <button class="metal linear" (click)="buyProductPopup();">Open Products </button>
    </div>
    <div style="display: flex; justify-content: center;">
      <button>Back to line list</button>
    </div>
  </div>
</ion-content>
<div class="pop-over" *ngIf="openAddEquipmentPopup">
  <div class="back-button-container">
    <div>
      <button (click)="goBackToLine()">Back</button>
    </div>
    <div class="money-container">
      <label>${{mainObject?.totalValue}}</label>
    </div>
  </div>
  <div style="margin: 5vw; margin-top: 2vw;">
    <div style="width: 90vw; height: 90vw;">
      <table style="border-collapse: collapse; border: 1px solid black;">
        <tr *ngFor="let lineSpace of selectedLineSpace; let i=index" style="border: 1px solid black;">
          <td *ngFor="let line of lineSpace; let j=index" class="box" [style.background-color]="line.equipment.color"
            (click)="updateBox(i,j);">
          </td>
        </tr>
      </table>
    </div>
    <div style="margin-top:5vw; width: 90vw;">
      <h4 style="margin-right: 2%;" *ngIf="selectedAction">{{selectedAction}} item</h4>
      <button class="button " [class]="selectedAction === 'add' ? 'selected-btn' : 'normal-btn' "
        (click)="updateMAD('add');">Add</button>
      <button class="button " [class]="selectedAction === 'remove' ? 'selected-btn' : 'normal-btn' "
        (click)="updateMAD('remove');">Remove</button>
      <button class="button " [class]="selectedAction === 'move' ? 'selected-btn' : 'normal-btn' "
        (click)="updateMAD('move');">Move</button>
      <button class="button warn-btn" (click)="resetLine();">Reset</button>
    </div>
    <div style="margin-top:5vw; width: 90vw;">
      <h5>Select below product to add them in line</h5>
      <ul class="ul-icon">
        <li *ngFor="let equipment of equipmentList">
          <div (click)="selectEquipment(equipment)"
            [class]="selectedEquipment && selectedEquipment.name === equipment.name ? 'active-div' : '' ">
            <ion-icon [name]="equipment.icon"></ion-icon>
            <label>{{equipment.name | titlecase}}</label>
            <label style="font-weight:bold;">Occupies: </label>
            <label>{{equipment.space}} Block<span *ngIf="equipment.space > 1">s</span></label>
            <label> Cost: ${{equipment.buyingPrice}}</label>
            <p [style.background-color]="equipment.color"></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="pop-over" *ngIf="openAddProductPopup">
  <div class="back-button-container">
    <div>
      <button (click)="goBackToLine()">Back</button>
    </div>
    <div class="money-container">
      <label>${{mainObject?.totalValue}}</label>
    </div>
  </div>
  <div class="equipment-container">
    <h4>Available Equipment</h4>
    <div class="equip-label-container">
      <div *ngFor="let equipment of selectedLine?.equipmentLineList; let i=index">
        <label>{{equipment.selectedEquipment.name | titlecase}} : {{equipment.count - equipment.active}}</label>
      </div>
    </div>
    <div class="product-container">
      <h5>Automate buying</h5>
      <div class="product-select-container">
        <div>
          <div class="product-select-box">
            <select>
              <option class="select-option" *ngFor="let product of selectedLine?.productList; let i=index"
                value="product">{{product.name | titlecase}}</option>
            </select>
          </div>
          <div class="product-requirement-container">
            <input type="button" value="-" (click)="updateProductCount(false)">
            <input type="number" value="0" [(ngModel)]="selectedProductCount">
            <input type="button" value="+" (click)="updateProductCount(true)">
          </div>
        </div>
        <button>Done</button>
      </div>
      <h5>Produce</h5>
      <p>Starts production using the available equipments. Products will be added in your inventory per tick.</p>
      <div class="product-select-container">
        <div>
          <div class="product-select-box">
            <select [(ngModel)]="selectedProductToProduce">
              <option class="select-option" *ngFor="let product of selectedLine?.productList; let i=index" value="{{product}}">{{product.name | titlecase}}</option>
            </select>
          </div>
          <div class="product-requirement-container">
            <input type="button" value="-" (click)="updateProductCount(false)">
            <input type="number" value="0" [(ngModel)]="selectedProductCount">
            <input type="button" value="+" (click)="updateProductCount(true)">
          </div>
        </div>
        <div>
          <div>
              <label>Need : {{selectedProductToProduce}}</label>
          </div>
          <div>
            <div *ngFor="let eqReq of selectedProductToProduce?.equipmentRequire; let i=index">
              <h5>Equipment Required</h5>
              <h6>{{eqReq}} :</h6> <p>{{selectedProductCount}}</p>
            </div>
            <div *ngFor="let prReq of selectedProductToProduce?.require; let i=index">
              <h5>Product consumed per tick</h5>
              <h6>{{prReq}} :</h6> <p>{{selectedProductCount}}</p>
            </div>
          </div>
        </div>
        <button>Produce</button>
      </div>
    </div>
  </div>
  <div>
    <h5 class="move-4vw">Manually Buy and sell per quantity.</h5>
    <div class="quantity-cover">
      <button (click)="countSelected = 1" [ngClass]="{'selectedQty' : countSelected == 1}">1</button>
      <button (click)="countSelected = 10" [ngClass]="{'selectedQty' : countSelected == 10}">10</button>
      <button (click)="countSelected = 50" [ngClass]="{'selectedQty' : countSelected == 50}">50</button>
      <button (click)="countSelected = 100" [ngClass]="{'selectedQty' : countSelected == 100}">100</button>
      <button (click)="countSelected = 250" [ngClass]="{'selectedQty' : countSelected == 250}">250</button>
    </div>
    <div class="product-card-container">
      <div class="product-card" *ngFor="let product of selectedLine?.productList; let i=index">
        <div>
          <label>{{product.name}}</label>
          <p>Own : {{product.ownCount | number}}</p>
        </div>
        <div>
          <button class="buy-button" (click)="buyProductDirectly(product, countSelected)">Buy</button>
          <button class="sell-button" (click)="sellProductDirectly(product, countSelected)">Sell</button>
        </div>
      </div>
    </div>
  </div>
</div>