<ion-header>
  <ion-navbar>
    <ion-title><span
        *ngIf="activeFactory && activeFactory.lineList && activeFactory.lineList.length > 0 && lineListActive">Active
        Lines</span><span
        *ngIf="activeFactory && activeFactory.lineList && activeFactory.lineList.length > 0 && !lineListActive">{{selectedLine?.lineName}}</span><span
        class="money-main">${{mainObject?.totalValue | number}}</span></ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="ct-main">
  <div class="line-list"
    *ngIf="activeFactory && activeFactory.lineList && activeFactory.lineList.length > 0 && lineListActive">
    <ul>
      <li *ngFor="let line of activeFactory.lineList; let i=index" (click)="lineSelected(i)"> Line {{i+1}} </li>
    </ul>
  </div>
  <div *ngIf="lineListActive">
    <button class="add-button">
      <ion-icon name="add-circle"></ion-icon> Add Line
    </button>
  </div>
  <div class="line-main-container" *ngIf="!lineListActive">
    <div class="list-keep">
      <h4 *ngIf="selectedLine && selectedLine.equipmentLineList && selectedLine.equipmentLineList.length > 0">Equipment List</h4>
      <h4 *ngIf="!(selectedLine && selectedLine.equipmentLineList && selectedLine.equipmentLineList.length > 0)"><span>No equipment to show</span></h4>
      <div *ngIf="selectedLine && selectedLine.equipmentLineList && selectedLine.equipmentLineList.length > 0" class="equipment-box">
        <div *ngFor="let equipment of selectedLine?.equipmentLineList">
          <div *ngIf="equipment.count > 0">
            <label>{{equipment.selectedEquipment.name | titlecase}} : <span>{{equipment.count}}</span></label>
            <p>Active : {{equipment.active}}</p>
          </div>
        </div>
      </div>
      <button class="metal linear" (click)="buyEquipmentPopup();">Buy Equipment</button>
    </div>
    <div class="list-keep">
      <div class="equipment-box">
        <div>
          <div>
            <label> : <span> l </span></label>
          </div>
        </div>
      </div>
      <button class="metal linear" (click)="buyProductPopup();"> Buy product </button>
    </div>
    <div style="display: flex; justify-content: center;">
      <button>Back to line list</button>
    </div>
  </div>
</ion-content>
<div class="pop-over" *ngIf="openAddEquipmentPopup">
  <div class="back-button-container">
    <div>
      <button (click)="goBackToLine()">Back</button>
    </div>
    <div class="money-container">
      <label>${{mainObject?.totalValue}}</label>
    </div>
  </div>
  <div style="margin: 5vw; margin-top: 2vw;">
    <div style="width: 90vw; height: 90vw;">
      <table style="border-collapse: collapse; border: 1px solid black;">
        <tr *ngFor="let lineSpace of selectedLineSpace; let i=index" style="border: 1px solid black;">
          <td *ngFor="let line of lineSpace; let j=index" class="box" [style.background-color]="line.equipment.color"
            (click)="updateBox(i,j);">
          </td>
        </tr>
      </table>
    </div>
    <div style="margin-top:5vw; width: 90vw;">
      <h4 style="margin-right: 2%;" *ngIf="selectedAction">{{selectedAction}} item</h4>
      <button class="button " [class]="selectedAction === 'add' ? 'selected-btn' : 'normal-btn' "
        (click)="updateMAD('add');">Add</button>
      <button class="button " [class]="selectedAction === 'remove' ? 'selected-btn' : 'normal-btn' "
        (click)="updateMAD('remove');">Remove</button>
      <button class="button " [class]="selectedAction === 'move' ? 'selected-btn' : 'normal-btn' "
        (click)="updateMAD('move');">Move</button>
      <button class="button warn-btn" (click)="resetLine();">Reset</button>
    </div>
    <div style="margin-top:5vw; width: 90vw;">
      <h5>Select below product to add them in line</h5>
      <ul class="ul-icon">
        <li *ngFor="let equipment of equipmentList">
          <div (click)="selectEquipment(equipment)"
            [class]="selectedEquipment && selectedEquipment.name === equipment.name ? 'active-div' : '' ">
            <ion-icon [name]="equipment.icon"></ion-icon>
            <label>{{equipment.name | titlecase}}</label>
            <label style="font-weight:bold;">Occupies: </label>
            <label>{{equipment.space}} Block<span *ngIf="equipment.space > 1">s</span></label>
            <label> Cost: ${{equipment.buyingPrice}}</label>
            <p [style.background-color]="equipment.color"></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="pop-over" *ngIf="openAddProductPopup">
  <div>
      <div class="back-button-container">
        <div>
          <button (click)="goBackToLine()">Back</button>
        </div>
        <div class="money-container">
          <label>${{mainObject?.totalValue}}</label>
        </div>
      </div>
      <div>
        <div>
          <div *ngFor="let equipment of selectedLine?.equipmentLineList; let i=index">
            <label>{{equipment.selectedEquipment.name}} : {{equipment.active}}</label>
          </div>>
        </div>
        <div>

        </div>
      </div>
      <div class="product-card-container">
        <div class="product-card" *ngFor="let product of selectedLine?.productList; let i=index">
          <div>
            <label>{{product.name}}</label>
            <p>Own : {{product.ownCount | number}}</p>
          </div>
          <div>
            <button class="buy-button">Buy</button>
            <button class="sell-button">Sell</button>
          </div>
        </div>
      </div>
  </div>
</div>