page-line {
    .box {
        border: 1px solid rgb(0, 0, 0);
        width: 9vw;
        height: 9vw;
        background-color: #edfdf8;
        opacity: .9;
    }
    .button {
        height: 30px;
        width: 20%;
        margin: 2%;
        margin-top: 0;
        font-size: 16px;
        border-radius: 3px;
        box-shadow: 2px 3px #000000;
    }
    .warn-btn {
        background-color: brown;
        color: aliceblue;
    }
    .normal-btn {
        height: 30px;
        width: 20%;
        margin: 2%;
        margin-top: 0;
        font-size: 14px;
        border-radius: 3px;
        color: aliceblue;
        background-color: forestgreen;
        box-shadow: 2px 3px #000000;
    }
    .selected-btn {
        height: 30px;
        width: 20%;
        margin: 2%;
        margin-top: 0;
        font-size: 14px;
        border-radius: 3px;
        background-color: #4d85ff;
    }
    .active-div{
        border: 2px solid #af0000 !important;
        box-shadow: 4px 6px #3b0000 !important;
        background-color: antiquewhite !important;
        ion-icon {
            color : #af0000 !important;
        }
    }
    .ul-icon {
        list-style-type: none;
        padding: 0;
        display: flex;
        width: inherit;
        overflow-x: auto;
        li{
            margin: 1vw;
            div{
                width: 22vw;
                height: inherit;
                border: 2px solid #303030;
                box-shadow: 4px 6px #000000;
                padding-top: 2vw;
                justify-content: center;
                text-align: center;
                background-color: aliceblue;
                label{
                    display: block;
                }
                ion-icon {
                    display: block;
                    font-size: 9vw;
                    color : #222;
                }
                p{
                    height: 3vw;
                    margin-bottom: 0px;
                }
            }
        }
    }
    .pop-over {
        position: absolute;
        z-index: 99999;
        background-color: #021b1ab6;
        height: 100%;
        .back-button-container {
            padding: 1vw;
            display: flex;
            div {
                height: 10vw;
                width: 49vw;
                button {
                    height: 100%;
                    width: 100%;
                    color: #edfdf8;
                    background: #fd1d1d;
                    font-size: 5vw;
                    font-weight: bold;
                }
            }
            .money-container {
                text-align: center;
                padding: 3vw;
                background: #4d85ff;
                label {
                    align-self: center;
                    color: #edfdf8;
                    font-size: 4vw;
                }
            }
        }
        div {
            h4 {
                color: #edfdf8;
            }
            h5 {
                color: #edfdf8;
            }
        }
        .product-card-container {
            display: flex;
            flex-flow: row;
            flex-wrap: wrap;
            padding: 2vw;
            .product-card {
                margin: 2vw;
                padding: 2vw;
                background: #ffe8e4;
                -webkit-box-shadow: 5px 5px 3px -1px rgba(0,0,0,0.75);
                -moz-box-shadow: 5px 5px 3px -1px rgba(0,0,0,0.75);
                box-shadow: 5px 5px 3px -1px rgba(0,0,0,0.75);
                div {
                    width : 40vw;
                    label {
                        margin: 0
                    }
                    p {
                        margin: 0
                    }
                    .buy-button {
                        width: 19.5vw;
                        height: 25px;
                        background-color: #fd1d1d;
                    }
                    .sell-button {
                        width: 19.5vw;
                        height: 25px;
                        background-color: #4d85ff;
                    }
                }
            }
        }
    }
    .ct-main {
        div{
            .add-button {
                height: 12vw;
                width: 50vw;
                margin: 5vw;
                margin-left: 25vw;
                font-size: 6vw;
                font-weight: bolder;
                background: #ff7f4d;
                text-align: center;
                align-content: center;
                -webkit-box-shadow: 5px 5px 3px -1px rgba(0,0,0,0.75);
                -moz-box-shadow: 5px 5px 3px -1px rgba(0,0,0,0.75);
                box-shadow: 5px 5px 3px -1px rgba(0,0,0,0.75);
            }
        }
        .line-list {
            ul {
                list-style: none;
                padding-inline-start: 5vw;
                li {
                    height: 10vw;
                    width: 90vw;
                    font-size: 6vw;
                    padding: 2vw;
                    margin-bottom: 1vw;
                    text-align: center;
                    background-color: #edfdf8;
                    -webkit-box-shadow: 3px 3px 2px -1px rgba(0,0,0,0.75);
                    -moz-box-shadow: 3px 3px 2px -1px rgba(0,0,0,0.75);
                    box-shadow: 3px 3px 2px -1px rgba(0,0,0,0.75);
                }
            }
        }
        .line-main-container {
            width: 100vw;
            .list-keep {
                padding: 2vw;
                background: rgba(33, 46, 42, 0.5);
                h4 {
                    margin: 0;
                    color: #bbf5e2;
                    margin-bottom: 1vw;
                    font-size: 24px;
                    span {
                        color: #fd1d1d;
                    }
                }
                .equipment-box {
                    background: linear-gradient(to right, rgb(173, 169, 150), rgb(242, 242, 242), rgb(219, 219, 219), rgb(234, 234, 234));
                    width: 96vw;
                    padding: 2vw;
                    border-radius: 10px;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    -webkit-box-shadow: inset 0px 0px 6px 4px #132421;
                    -moz-box-shadow: inset 0px 0px 6px 4px #132421;
                    box-shadow: inset 0px 0px 6px 4px #132421;
                    div {
                        div {
                            background: linear-gradient(to right, rgb(110, 110, 110), rgb(83, 105, 118));
                            border-radius: 5px;
                            padding: 1vw;
                            width: 45vw;
                            margin-right: 1vw;
                            margin-bottom: 1vw;
                            -webkit-box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.75);
                            -moz-box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.75);
                            box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.75); 
                            label {
                                font-size: 16px;
                                font-weight: bold;
                                color: white;
                                span {
                                    font-size: 16px;
                                    float: right;
                                }
                            }
                            p {
                                margin: 0;
                                color: white;
                            }
                        }
                    }
                }
                .buy-button {
                    width: 40vw;
                    height: 8vw;
                    background-color: #684dff;
                    margin-top: 1vw;
                    color: #edfdf8;
                    font-size: 4vw;
                    -webkit-box-shadow: 3px 3px 3px -1px rgba(0,0,0,0.75);
                    -moz-box-shadow: 3px 3px 3px -1px rgba(0,0,0,0.75);
                    box-shadow: 3px 3px 3px -1px rgba(0,0,0,0.75);
                }
            }
            .button-conatainer {
                width: 100vw;
                button {
                    margin-left: 30%;
                    width: 40%;
                    height: 8vw;
                }
            }
        }
    }
}
